{
	"endOfLine": "lf",
	"printWidth": 80,
	"tabWidth": 2,
	"trailingComma": "es5",
	"semi": true,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": true,
	"quoteProps": "as-needed",
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"bracketSpacing": true
}
